.App {
  text-align: center;
}


.contenedor {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: 20px;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}

h1{
  align-content: center;
  justify-content: center;
  text-align: center;
  color: blueviolet;
}
iframe{
  align-self: center;
}
